& {
  background: $card-background-color;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  padding: $card-padding;
  max-width: 260px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  white-space: normal;
  cursor: pointer;
  transition: background .25s;

  .level {
    height: auto !important;

    .level-item {
      .title {
        font-size: 15px;
        line-height: 20px;
      }
      .occurences {
        font-size: 14px;
        color: #3B3B3B;
        font-family: $avenir-lt-light;
      }
    }

    .level-item:nth-child(1) {
      font-size: 18px;
    }
  }
}

&:hover {
  background:  darken($card-background-color, 8%);
}
