<div class="columns is-gapless">

  <div class="column">

    <div class="deck-title">{{app.name}}</div>

    <div class="cards">

      {{#each sortedCards as |card|}}
        {{card-cell card=card}}
      {{/each}}

    </div>

  </div>

</div>
