$setup-background-color: #1C2948;
$setup-text-color: #ffffff;

$application-navigator-background-color: #ffffff;
$application-navigator-border-color: #dedede;

$decks-background-color: #f6f6f6;
$decks-border-color: #C3C3C3;

$card-background-color: #ffffff;
$card-border-color: #C3C3C3;
$card-border-radius: 8px;
$card-padding: 20px;
