<div class="columns">
  <div class="column is-1">
    <img src="https://placehold.it/100x100" height="30" />
  </div>
  <div class="column is-9">
    <span>{{notification.notificationCopy}}</span>
  </div>
  <div class="column is-2">
    <span>{{message-timestamp notification.createdAt}}</span>
  </div>
</div>
