<div class="columns">
  <div class="column is-1">
    <img src="https://placehold.it/100x100" height="30" />
  </div>
  <div class="column is-9">
    <p><strong>@{{user.username}}:</strong> {{message.body}}</p>
  </div>
  <div class="column is-2">
    {{message-timestamp message.createdAt}}
  </div>
</div>
