& {
  height: 100%;
  background: $decks-background-color;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  .deck-columns-titlebar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-bottom: 1px solid $decks-border-color;
  }
  .deck-columns {
    position: absolute;
    z-index: 200;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    border-right: 1px solid #dcdcdc;

    .menu-toggle {
      line-height: 40px;
      padding: 0px 15px;
      color: #383838;
      cursor: pointer;
      position: absolute;
    }

    .fullscreen-toggle {
      position: fixed;
      z-index: 250;
      bottom: 18px;
      left: calc(33% - 32px);
      font-size: 18px;
      color: gray;
      cursor: pointer;
      transition: color .25s;
    }
    .fullscreen-toggle:hover {
      color: darken(#383838, 10%);
    }
  }
}
