<div class="columns is-gapless">

  <div class="column">

    <div class="deck-title">{{deck.title}}</div>

    <div class="cards">

      {{#each sortedCards as |card|}}
        {{card-cell card=card openCard=(action 'openCard')}}
      {{/each}}

    </div>

  </div>

</div>
