<div class="level">
  <div class="level-left">
    <div class="level-item">
      {{input type=text name="q" value=query}}
    </div>
  </div>
</div>

{{#if hasSearchResults}}
  <div class="search-results">
    <ul>
      {{#each searchResults as |label|}}
        {{label-pill card=card deck=deck label=label}}
      {{/each}}
    </ul>
  </div>
{{/if}}


<div class="card-labels">
  <ul>
    {{#each labels as |label|}}
      {{label-pill card=card deck=deck label=label}}
    {{/each}}
  </ul>
</div>
