<section class="hero is-fullheight">

  <div class="hero-body">

    <div class="columns">
      <div class="column">
        <div>
          <span class="icon-eye"></span>
        </div>
        <div>
          <p>{{link-to 'Create a card' 'app.cards.new'}} or choose one
            from your deck.</p>
        </div>
      </div>
    </div>

  </div>

</section>
