<div class="level">
  <div class="level-left">
    <div class="level-item">
      <img src="https://placehold.it/60x60" height="30" />
    </div>
    <div class="level-item">
      <span>{{developer.name}} ({{developer.email}})</span>
    </div>
  </div>
</div>
