<div class="container application-navigator">
  <div class="level">

    <div class="level-left">
      <div class="level-item">
        <img src="https://placehold.it/100x100" height="30" />
      </div>
      <div class="level-item">
        {{team.name}}
        {{fa-icon "chevron-down"}}
      </div>
    </div>

    <div class="level-right">

      <div class="level-item">
        {{input type="text" placeholder="Search for anything"}}
      </div>

      <div class="level-item">
        <div class="button">
          <span>Create Card</span>
        </div>
      </div>
      <div class="level-item">
        {{fa-icon "bell"}}
      </div>
    </div>

  </div>
</div>
