<div class="level">
  <div class="level-left">
    <div class="level-item">
      {{#if cardType.isFeature}}
        <span class="icon-feature">
          <span class="path3"></span>
        </span>
      {{/if}}

      {{#if cardType.isBug}}
        <span class="icon-bug"></span>
      {{/if}}
    </div>
    <div class="level-item">
      {{#if cardType.isFeature}}
        New Feature
      {{/if}}

      {{#if cardType.isBug}}
        Bug
      {{/if}}
    </div>
  </div>
</div>
